.progress{
    margin: 50px;
    width: 500px;
    height: 80px;
    background-color: #4ba02d;
    border-radius: 10px;
    background-image: linear-gradient(60deg, #92c680 30%, transparent 30%, transparent 55%, #92c680 50%, #92C682 75%, transparent 75%);
    background-size: 80px 170px;
    animation: progress 0.5s linear infinite;
}

@keyframes progress {
    0% {
        background-position: -80px 0;
    }
    100% {
        background-position: 0 0;
    }
}

.slide {
    position: absolute;
    margin: 50px;
    height: 370px;
    width: 300px;
    &__img {
        width: 300px;
        height: 370px;
        border-radius: 25px;
    }
    &-overlay{
        position: absolute;
        transform: translateY(-374px);
        width: 300px;
        height: 370px;
        border-radius: 25px;
        background:
       linear-gradient(
         to bottom,
         rgba(0, 0, 0, 0.5) 0%,
         rgba(0, 0, 0, 0.5) 100%
        );
        background-repeat: repeat-x;
        background-size: 0 0;
        transition: all .6s ease-out;
        color: #fff;
        overflow: hidden;
    }
    &-overlay:hover{
        background-size: 5px 370px;
        transform: translate(0px, -374px);
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -500px;
        height: 870px;
        width: 300px;
        transition: all .5s ease-out;
        font-family: sans-serif;
        text-align: center;
        font-weight: 700;
    }
    &__content:hover{
        top: -510px;
        transform: translate(0px, 250px);
    }
    &__button{
        width: 80px;
        height: 20px;
        padding: 20px;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 30px;
    }
    &__button:hover{
        cursor: pointer;
        background-color: #fff;
        color: black;
    }
}